<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bot Helado
    <link rel="shortcut icon" href="./assets/favicon.ico" />
        link(rel="stylesheet", href="./css/style.css")
    body
        header.header
            img.header__logo(src="./assets/logo.svg", alt="")
            nav.nav
                ul.nav__ul
                    li.nav__li
                        a(href="") Info
                    li.nav__li 
                        a(href="") Comandos
                    li.nav__li 
                        a(href="") FAQ
                    li.nav__li 
                        a(href="") Invitacion
        main
            section.contentone
                .contentone__text
                    h1 Bot 🍦 Helado
                    p#texto El mejor helado para el mejor momento
                img(src="./assets/logo.svg", alt="")               
        script(src="./js/index.js")